/**
 * @name 	SDatepickerComponent
 * Provide all the mixins needed to print out the s-datepicker classes
 * @author 	Olivier Bossel <olivier.bossel@gmail.com>
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-datepicker-classes(
	$colors : default primary secondary
) {
	@include s-datepicker-classes-bare();
	@include s-datepicker-classes-style($colors);
}

/**
 * Print out the bare component css
 */
@mixin s-datepicker-classes-bare() {
	@include s-component('s-datepicker') {

	}
}

/**
 * Print out the style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-datepicker-classes-style(
	$colors : default primary secondary
) {
	@include s-component('s-datepicker') {
		.flatpickr-calendar.open {
			@include s-depth(6);
		}

		.flatpickr-calendar {
			@include s-transition(fast margin-top,fast opacity);
			border-radius: s-lnf(border-radius);
		}

		.flatpickr-month {
			color: s-color(text);
		    fill: s-color(text);
		}
		.flatpickr-hour,
		.flatpickr-minute,
		.flatpickr-second {
			color: s-color(text) !important;
		}

		.flatpickr-day {
			border-radius: s-lnf(border-radius);
			@include s-transition(fast);
		}
		.flatpickr-current-month .cur-year {
			color: s-color(text);
		}

		@each $color in $colors {
			$sel : '.flatpickr-calendar[color="#{$color}"]';
			@if $color == default {
				$sel : '.flatpickr-calendar';
			}

			@if $color != default {
				/**
				 * @name 			Datepicker <span class="c-#{$color}">#{_start-case($color)}</span>
				 * Provide a way to display a nice #{$color} datepicker
				 * @styleguide  	Form / Datepicker
				 * @example 		html
				 * <div style="height:25em">
				 * 	<input name="my-cool-date" class="form-input visually-hidden" />
				 *  <s-datepicker for="my-cool-date" color="#{$color}" inline></s-datepicker>
				 * </div>
				 * @see 			https://github.com/coffeekraken/s-datepicker-component
				 * @author 			Olivier Bossel <olivier.bossel@gmail.com>
				 */
			}

			#{$sel} {
				.flatpickr-day.inRange,
				.flatpickr-day.nextMonthDay.inRange,
				.flatpickr-day.nextMonthDay:focus,
				.flatpickr-day.nextMonthDay:hover,
				.flatpickr-day.prevMonthDay.inRange,
				.flatpickr-day.prevMonthDay:focus,
				.flatpickr-day.prevMonthDay:hover,
				.flatpickr-day:focus:not(.disabled),
				.flatpickr-day:hover:not(.disabled) {
				    cursor: pointer;
				    outline: 0;
				    background: s-color($color, -opacity .1);
				}
				.flatpickr-day.today {
				    color: s-color($color);
					font-weight:bold;
				}
				.flatpickr-day.today:focus,
				.flatpickr-day.today:hover {
				}
				.flatpickr-day.selected,
				.flatpickr-day.selected.nextMonthDay,
				.flatpickr-day.selected.prevMonthDay,
				.flatpickr-day.selected:focus,
				.flatpickr-day.selected:hover {
				    background: s-color($color);
				    color: #fff;
				}
				.flatpickr-time input:focus,
				.flatpickr-time input:hover {
				    background: s-color($color, -opacity .1);
				}
				.flatpickr-am-pm:focus,
				.flatpickr-am-pm:hover {
				    background: s-color($color, -opacity .1);
				}
				.flatpickr-current-month .cur-year:hover {
				    background: s-color($color, -opacity .1);
				}
				.flatpickr-rContainer+.flatpickr-time {
				    border-top: 1px solid s-color($color, -opacity .1);
				}
				.flatpickr-weekwrapper .flatpickr-weeks {
				    border-right: 1px solid s-color($color, -opacity .1);
				}
				.flatpickr-next-month svg:hover,
				.flatpickr-prev-month svg:hover {
				    fill: s-color($color);
				}
				.flatpickr-next-month:hover,
				.flatpickr-prev-month:hover {
				    color: s-color($color);
				}
			}
		}
	}
}
