/**
 * @name 	SDatepickerComponent
 * Provide all the mixins needed to print out the s-datepicker classes
 * @author 	Olivier Bossel <olivier.bossel@gmail.com>
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-datepicker-classes(
	$colors : default primary secondary
) {
	@include s-datepicker-classes-bare();
	@include s-datepicker-classes-style($colors);
}

/**
 * Print out the bare component css
 */
@mixin s-datepicker-classes-bare() {
	@include s-component('s-datepicker') {
		.flatpickr-calendar {
			width: auto;

			&, * {
				box-sizing: border-box;
			}
		}
		.flatpickr-months,
		.flatpickr-innerContainer {
			padding: s-lnf(padding-horizontal);
		}
		.flatpickr-days {
			width: auto;
		}
		.flatpickr-months .flatpickr-prev-month,
		.flatpickr-months .flatpickr-next-month {
			top: s-lnf(padding-horizontal);
		}
		.flatpickr-months .flatpickr-prev-month {
			left: s-lnf(padding-horizontal) !important;
		}
		.flatpickr-months .flatpickr-next-month {
			right: s-lnf(padding-horizontal) !important;
		}
		.flatpickr-day {
			border-radius: s-lnf(border-radius) !important;
			border:none !important;
		}
		.flatpickr-day.nextMonthDay,
		.flatpickr-day.prevMonthDay {
			opacity: .5;
		}
		.flatpickr-calendar.noCalendar.showTimeInput.hasTime .flatpickr-time {
			border-top: none;
		}
	}
}

/**
 * Print out the style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-datepicker-classes-style(
	$colors : default primary secondary
) {
	@include s-component('s-datepicker') {
		.flatpickr-calendar.open {
			@include s-depth(6);
			border-radius: s-lnf(border-radius);
		}
		.flatpickr-calendar {
			@include s-transition(fast margin-top,fast opacity);
			border-radius: s-lnf(border-radius);
			box-shadow: none;
		}
		.flatpickr-time *,
		.flatpickr-months * {
			color: s-color(text) !important;
			fill: s-color(text);
		}
		.flatpickr-weekday,
		.flatpickr-day {
			color: s-color(text) !important;
		}

		@each $color in $colors {
			$sel : '.flatpickr-calendar[color="#{$color}"]';
			@if $color == default {
				$sel : '.flatpickr-calendar';
			}

			/**
			 * @name 			Datepicker <span class="c-#{$color}">#{_start-case($color)}</span>
			 * Provide a way to display a nice #{$color} datepicker
			 * @styleguide  	Form / Datepicker
			 * @example 		html
			 * <div style="height:25em">
			 * 	<input name="my-cool-date" class="form-input visually-hidden" />
			 *  <s-datepicker for="my-cool-date" color="#{$color}" inline></s-datepicker>
			 * </div>
			 * @see 			https://github.com/coffeekraken/s-datepicker-component
			 * @author 			Olivier Bossel <olivier.bossel@gmail.com>
			 */

			#{$sel} {
				.flatpickr-day.today {
					color: s-color($color) !important;
					font-weight: bold;
				}
				.flatpickr-day.selected {
					color: white !important;
					background-color: s-color($color) !important;
				}
				.flatpickr-day:hover {
					background-color: s-color($color, -opacity .1);
				}
			}
		}
	}
}
